

a.navbar-brand, a.navbar-brand:hover{
    color: white
    
}
.navbar-nav li a {
    color: white;
}
 .navbar-text a{
    color: white;
}

 .fa-receipt{
    font-size: 2rem;
    color: #f4bf42;
   
}